.todo-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.todo-list-item:hover {
  background: #f2f4f5;
}
.todo-list-item.important {
  background: #ffd373;
}
.wrap-todo-list-item-button {
  width: 15%;
  display: flex;
  justify-content: space-between;
}
.todo-list-item-button {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list-item-label.done {
  text-decoration: line-through; 
}
